$colorBtnLight:#F7C9F3;
$barColorLight:  linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); 
$fontAll:   'Chakra Petch', sans-serif;
$colorDay: #fff4fd;

$shadowInputBar: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000;



 //DARK THEME VARIABLES //

$colorDark: #110038;

$colorBtnDark: #EE3EFE ;
$textColor:#FFFFFF;